@model P5Parcial.Models.usuario

@{
    Layout = null;
}
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Bootstrap/mycss.css" rel="stylesheet" />
    <link href="~/Bootstrap/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Bootstrap/bootstrap.css" rel="stylesheet" />
    <title>Ingresar</title>
</head>
<body>
    <div>
        <style>
            table, th, td {
                border: 1px solid;
            }
        </style>
        <img src="~/imagenes/background.jpg" class="bg" />
        <div class="row">
            <div class="col-md-4">
                <div id="cuadro">
                    <p>Hola: @Model.nombreusuario</p>
                    <div>
                        <table>
                            <tr>
                                <td>Usuario: </td>
                                <td>@Model.nombreusuario</td>
                            </tr>
                            <tr>
                                <td>Genero</td>
                                @if (Model.sexo ==1)
                                {
                                    <td>Masculino</td>
                                }
                                else if (Model.sexo == 2)
                                {
                                    <td>Femenino</td>
                                }
                            </tr>
                            <tr>
                                <td>Edad: </td>
                                <td>@Model.edad</td>
                            </tr>
                            <tr>
                                <td>Peso: </td>
                                <td>@Model.peso</td>
                            </tr> 
                            <tr>
                                <td>Altura: </td>
                                <td>@Model.altura</td>
                            </tr>
                            <tr>
                                <td>Frecuencia ejercicio: </td>
                                @switch (Model.frecuencia)
                                {
                                    case 1:
                                        <td>Poco o ningún ejercicio</td>
                                        break;
                                    case 2:
                                        <td>Ejercicio ligero</td>
                                        break;
                                    case 3:
                                        <td>Ejercicio Moderado</td>
                                        break;
                                    case 4:
                                        <td>Ejercicio Fuerte</td>
                                        break;
                                    case 5:
                                        <td>Ejercicio profesional o extremo</td>
                                        break;
                                }
                            </tr>
                            <tr>
                                <td>Tasa Metabólica Basal(TMB): </td>
                                <td>@Model.tmb</td>
                            </tr> 
                            <tr>
                                <td>Indice Masa Corporal(IMC): </td>
                                <td>@Model.imc</td>
                            </tr> 
                            <tr>
                                <td>Kilos a perder por semana: </td>
                                @switch (Model.kxp)
                                {
                                    case 1:
                                        <td>1 Kg</td>
                                        break;
                                    case 2:
                                        <td>0.5 Kg</td>
                                        break;
                                }
                            </tr>
                            <tr>
                                <td>Composición Corporal: </td>
                                <td>@Model.corporal</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div  id="cuadro">
                    <p>Su progreso</p>
                    <div>
                        <table>
                            <tr>
                                <td>Su peso actual: </td>
                                <td>@Model.peso</td>
                            </tr>
                            <tr>
                                <td>Su peso ideal: </td>
                                <td>@Model.ideal(Model.altura,Model.sexo)</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="cuadro">
                    <p>Registre su progreso</p>
                    @Html.ActionLink("Registre su Progreso", "Progreso");
                </div>                             
            </div>
            <div class="col-md-4">
                <div  id="cuadro">
                    <p>Su cuadro nutricional</p>
                    @if (Model.tmb < 1200)
                    {
                        <p>
                            Desayuno: 1 proteína + 1 fruta (+ verduras, si deseas)<br />
                            Almuerzo: 1 proteína + 1 verdura + ensalada verde + 1 aderezo<br />
                            Bocadillo: 1 bocadillo de proteína + 1 fruta o verdura<br />
                            Cena: 1 proteína + 1 almidón/grano + 2 verduras + ensalada verde + 1 aderezo<br />
                            Bocadillo: 1 frut
                        </p>
                    }
                    else if (Model.tmb > 1200 && Model.tmb <= 1500)
                    {
                        <p>
                            Desayuno: 1 Proteína + 1 Fruta (+vegetales, si deseas)<br />
                            Almuerzo: 1 Proteína + 1 Vegetal + ensalada verde +almidón + 1 aderezo +1 fruta<br />
                            Bocadillo: 1 bocadillo de Proteína + 1 vegetal<br />
                            Merienda: 1 Proteína+1 Grano/Almidón + 2 Vegetales + Ensalada Verde + 1 aderezo<br />
                            Bocadillo: 1 Fruta
                        </p>
                    }
                    else if (Model.tmb > 1500 && Model.tmb <= 1800)
                    {
                        <p>
                            Desayuno: 1 Proteína + 1 Fruta (+vegetales, si lo deseas)<br />
                            Bocadillo: Bocadillo de proteína<br />
                            Almuerzo: 2 Proteínas + 2 Vegetales + ensalada verde +granos + 1 aderezo +1 fruta<br />
                            Bocadillo: 1 bocadillo de Proteína + 1 fruta o vegetal<br />
                            Cena: 2 Proteínas + 1 grano/almidón + 2 Vegetales + Ensalada Verde + 1 Aderezo<br />
                            Bocadillo: 1 Fruta
                        </p>
                    }
                    else if (Model.tmb > 1800)
                    {
                        <p>
                            Desayuno: 2 Proteína + 1 Fruta (+vegetales, si lo deseas) + 1 granos/almidón<br />
                            Bocadillo: Bocadillo de proteína<br />
                            Almuerzo: 2 Proteínas + 2 Vegetales + ensalada verde + 1 grano/almidón + 1 aderezo +1 fruta<br />
                            Bocadillo: 1 bocadillo de Proteína + 1 fruta o vegetal<br />
                            Cena: 2 Proteínas + 2 grano/almidón + 2 Vegetales + Ensalada Verde + 1 Aderezo<br />
                            Bocadillo: 1 Fruta
                        </p>
                    }
         </div>                
            </div>           
        </div>
    </div>
</body>
</html>
